[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "banter"]
	path = banter
	url = https://github.com/ericarcher/banter
[submodule "rfPermute"]
	path = rfPermute
	url = https://github.com/ericarcher/rfpermute
[submodule "sprex"]
	path = sprex
	url = https://github.com/ericarcher/sprex
[submodule "swfscMisc"]
	path = swfscMisc
	url = https://github.com/ericarcher/swfscmisc
